@use "variables";
@use "mixins";

.btn-primary {
  @include mixins.button(variables.$celeste, variables.$blanco);
}

.btn-white {
  @include mixins.button(variables.$blanco, variables.$gris-oscuro);
}

.btn-dark {
  @include mixins.button(variables.$gris-oscuro, variables.$blanco);
}

.btn-outlined-white {
  @include mixins.button-outlined(variables.$blanco);
}

//CARDS
.card {
  background-color: variables.$gris-claro;
  border-radius: variables.$border-radius;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h4,
  p {margin: 0;}

  p,
  span {color:variables.$gris-medio;}
  
  svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    fill: variables.$gris-oscuro;
  }

  .card-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    img {
      height: 48px;
      width: 48px;
    }

    span {opacity: .5;}
  }
}

.card-dark {
  background-color: variables.$gris-oscuro;
  p, h1, h2, h3, h4, span {color: variables.$blanco;}
  p, span {opacity: .8;}
}

//ACCORDION
.accordion-main {
  @include mixins.accordion(variables.$celeste, variables.$blanco);
}

.accordion-panel {
  padding: 10px 35px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: variables.$gris-claro;
  border-radius: 0 0 variables.$border-radius variables.$border-radius;
  transform: translateY(-20px);
  transition: all 0.5s variables.$bouncy;

  &.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
}