@use "variables";
@use "mixins";

.btn-primary {
  @include mixins.button(variables.$celeste, variables.$blanco);
}

.btn-white {
  @include mixins.button(variables.$blanco, variables.$gris-oscuro);
}

.btn-outlined-white {
  @include mixins.button-outlined(variables.$blanco);
}

//CARDS
.card {
  background-color: variables.$gris-claro;
  border-radius: variables.$border-radius;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h4,
  p {margin: 0;}

  p,
  span {color:variables.$gris-medio;}
  
  svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    fill: variables.$gris-oscuro;
  }

  .card-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    img {
      height: 48px;
      width: 48px;
    }

    span {opacity: .5;}
  }
}