@use "variables";

// Breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 576px) { @content; }
  } @else if $breakpoint == tablet {
    @media (max-width: 768px) { @content; }
  } @else if $breakpoint == desktop {
    @media (min-width: 1024px) { @content; }
  }
}

// Botón base
@mixin button($bg: variables.$celeste, $color: variables.$blanco) {
  background-color: $bg;
  color: $color;
  padding: variables.$spacing-sm variables.$spacing-md;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s variables.$bouncy;

  &:hover {
    background-color: darken($bg, 5%);
    text-decoration: none;
    filter: variables.$shadow-light;
    transform: translateY(-5px);
  }
}
